.container-travel{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1290px;
    margin-top: 100px;

}
.color-overlay{
    bottom: 0;
    height: 50%;
    opacity: 0.5;
    position: absolute;
    display: block;
    left: 0;
    border-radius: 10px;
    width: 100%;
    background: #000;
}
.travel-top{
    text-align: center;
    margin: 50px 0;
}
.travel-top p {
    color: #FDC703;
    font-size: 22px;
    font-weight: 600;
}
.travel-top h2{
    font-size: 46px;
    color: #000000;
}
.travel-top span{
    font-size: 15px;
    color: #3333;
    font-weight: 700;
}
.travel-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px ;
}
.child-travel{
    position: relative;
    height: 410px;
}
.travel-img{
    height: 100%;
}
.travel-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.travel-name{
    position: absolute;
    bottom: 30px;
    color: #fff;
    left: 20px;
    z-index: 2;
    width: 100%;
}
.cost-tour{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.duration{
    padding-right: 40px;

}
.name-tour{
    color: #fdc703;
    font-size: 30px;
    font-weight: 600;
}
.tour-desti{
    font-weight: 600;
}
.mb-1::before{
    content: "––";
    position: absolute;
    top: 17px;
    left: 0px;
    color: #fdc703;
    transform: rotate(90deg);
}
.travel-form{
    color: #5DCCF4;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
}
.tour-price{
    color: #5DCCF4;
}
button{
    font-size: 14px;
    text-align: center;
    padding: 14px 24px !important;
    text-transform: capitalize;
    transition: all ease-in-out .5s;
    background: #5dccf4;
    color: #fff;
    display: inline-block;
    border-radius: 10px !important;
    border: none;
    box-shadow: 0 0 0 4px rgb(255 255 255 / 10%) !important;
    line-height: 1.5;
    margin-top: 30px;
    margin-bottom: 30px;
}
.btn-more{
    text-align: center;
}